@model FaroHotel.Models.Pasajero

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celiaquia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celiaquia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motricidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motricidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaNegra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaNegra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSexo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSexo.Descripcion)
        </dd>

    </dl>
</div>
