<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Faro Hotel</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/jquery")

</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="/img/user.png" alt="..." class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido/a,</span>
                            @*<h2><%: HttpContext.Current.User.Identity.Name.ToString().ToUpper() %></h2>*@
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <div class="clearfix"></div>
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu Principal</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i>Sección de venta <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/faro/gestion/venta/paquetes">Paquetes</a></li>
                                        <li><a href="index2.html">Dashboard2</a></li>
                                        <li><a href="index3.html">Dashboard3</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i>Sección de Informes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Informe 1</a></li>
                                        <li><a href="#">Informe 2</a></li>
                                        <li><a href="#">Informe 3</a></li>
                                        <li><a href="#">Informe 4</a></li>
                                        <li><a href="#">Informe 5</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-cogs"></i>ABM <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Usuarios"><i class="fa fa-user"></i>Usuarios</a></li>
                                        <li><a href="/Pasajeros"><i class="fa fa-users"></i>Pasajeros</a></li>
                                        <li><a href="/Ventanillas"><i class="fa fa-square-o"></i>Ventanillas</a></li>
                                        <li><a href="/Paquetes"><i class="fa fa-ticket"></i>Paquetes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
                @*@Html.Partial("_MenuPartial")*@
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:LogOff()"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Pie de página
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position:absolute">
        <div class="modal-dialog" role="document">

            <div class="modal-content box box-primary box-solid" id="modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="tituloModal"></h4>
                </div>
                <div class="modal-body" id="contenidoModal">

                </div>
                <div class="modal-footer">
                    <button id="btnCerrar" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary"></button>
                    @*<input id="btnGuardar" type="submit" value="Guardar" class="btn btn-primary">*@
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

</body>
</html>
