@model FaroHotel.Models.Extra

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoExtra.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoExtra.Descripcion)
        </dd>

    </dl>
</div>
