@model IEnumerable<FaroHotel.Models.Ventanilla>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="box-title">Listado de Ventanillas</h2>
            <div class="clearfix"></div>
        </div>
        <!-- /.box-header -->
        <div class="x_content">
            <!-- Button trigger modal -->
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/ventanillas/Create','Agregar','Ventanilla')">
                <i class="fa fa-plus"></i> Nuevo
            </button>
            <table id="dtVentanillas" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:100px">Acciones</th>
                        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                        <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <span title="Editar" data-toggle="tooltip"><a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Ventanillas/Edit/@item.ID','Editar','Ventanilla')"></a></span>
                                    @*<a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/juegos/Details/@item.id','detalle','Titulo')"></a>*@
                                    <span title="Eliminar" data-toggle="tooltip"><a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Ventanillas/Delete/@item.ID','Eliminar','Ventanilla')"></a></span>
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script type="text/javascript">
    $(function () {
        $('#dtVentanillas').DataTable({
            "responsive": true,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp()
        });
    });
</script>