<div id="divStep3" class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Extras</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:50%">Extra</th>
                            <th style="width:20%">Cantidad</th>
                            <th style="width:10%"></th>
                            <th style="width:10%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Cochera en Faro II</td>
                            <td>
                                <select id="SelectCocheraFaroII" class="form-control">
                                    <option value="0" selected="selected">NO</option>
                                    <option value="1">SI</option>
                                </select>
                            </td>
                            <td></td>
                            <td><span id="TotalCocheraFaroII" class="colorGray currencyFormat">$ 0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Vouchers</td>
                            <td>
                                <select id="SelectVouchers" class="form-control">
                                    <option value="0" selected="selected">NO</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                </select>
                            </td>
                            <td></td>
                            <td><span id="TotalVouchers" class="colorGray currencyFormat">$ 0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Cuna</td>
                            <td>
                                <select id="SelectCunas" class="form-control">
                                    <option value="0" selected="selected">NO</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td></td>
                            <td><span id="TotalCunas" class="colorGray currencyFormat">$ 0</span></td>
                        </tr>
                    </tbody>
                </table>             
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL A EXTRAS: <span id="TotalExtras"></span></h2>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Información de pasajeros</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tablaPasajeros" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:35%">Pasajero</th>
                            <th style="width:30%">Paquete</th>
                            <th style="width:15%">Base</th>
                            <th style="width:20%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL PAQUETES: <span id="TotalPaquetes" class="currencyFormat"></span></h2>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL RESERVA: <span id="TotalReserva" class="currencyFormat"></span></h2>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Forma de pago</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content pull-right" style="text-align: right; padding-right: 2vw;">
                <h2>PAGO EN EFECTIVO 5% DE DESCUENTO: <span id="TotalReservaContado" class="currencyFormat"></span></h2>
                <h2>PAGO EN @ViewBag.Cuotas CUOTAS DE: <span id="TotalReservaCuotas" class="currencyFormat"></span></h2>
                @*<div>
                    <label class="control-label" for="SelectFormaDePago">Forma de pago:</label>
                    <select id="SelectFormaDePago" class="form-control" style="float:right; width:200px; margin-left: 10px;">
                        <option selected="selected" value="0"></option>
                        <option value="1">Contado</option>
                        <option value="2">En cuotas</option>
                    </select>
                </div>*@
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Observaciones de la reserva</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <textarea id="TextareaObservaciones" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep2" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep4" class="buttonNext btn btn-primary">Solicitar Reserva</span>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $('#btnBackStep2').click(function () {
        $('#Panel_Step3').fadeOut();
        $('#Panel_Step2').fadeIn();
        $("html, body").animate({ scrollTop: 0 }, 500);
        $('#wizard_step2').attr('class', 'selected');
        $('#wizard_step3').attr('class', 'disabled');
    });

    $(document).ready(function () {
        //Completar tablas
        //Tabla Pasajeros

        var ArrayPaxApellidoyNombre = [];
        var ArrayPaquetes = [];
        var ArrayBases = [];
        var ArrayPaxPrecios = [];
        $(".PaxApellidoyNombre").each(function () { ArrayPaxApellidoyNombre.push($(this).val()); });
        $(".SelectPaquetesDisponibles option:selected").each(function () { ArrayPaquetes.push($(this).text()); });
        $(".SelectBase option:selected").each(function () { ArrayBases.push($(this).text()); });
        $(".PaxPrice").each(function () { ArrayPaxPrecios.push($(this).val()); });
        var d = '';
        for (var i = 0; i < ArrayPaxApellidoyNombre.length; i++) {
            d += '<tr>' +
            '<th scope="row">' + (i + 1) + '</th>' +
            '<td>' + ArrayPaxApellidoyNombre[i] + '</td>' +
            '<td>' + ArrayPaquetes[i] + '</td>' +
            '<td>' + ArrayBases[i] + '</td>' +
            '<td class="currencyFormat">' + ArrayPaxPrecios[i] + '</td>' +
            '</tr>';
        }
        $("#tablaPasajeros tbody").append(d);
        calcularTotal();
    });

    $('#btnGoStep4').click(function () {
        if(ValidarFormularioStep3()){
            openSpinner();
            //HAGO RESERVA
            var ParamTipoHabitacionesIds = [];
            var ParamHabitacionesIds = [];
            var ParamPaxIds = [];
            var ParamPaquetesIds = [];
            var ParamBaseIds = [];
            var ParamBusIdaIds = [];
            var ParamAsientosIdaIds = [];
            var ParamBusVueltaIds = [];
            var ParamAsientosVueltaIds = [];
            var ParamExtrasIds = [1,2,3];
            var ParamExtrasCantidad = [];

            $(".SelectTipoHabitacion").each(function () { ParamTipoHabitacionesIds.push($(this).val()); });
            $(".SelectNroHabitacion").each(function () { ParamHabitacionesIds.push($(this).val()); });
            $(".PaxIds").each(function () { ParamPaxIds.push($(this).val()); });
            $(".SelectPaquetesDisponibles").each(function () { ParamPaquetesIds.push($(this).val()); });
            $(".SelectBase").each(function () { ParamBaseIds.push($(this).val()); });
            $(".BusIdaIds").each(function () {
                if ($(this).val() == "") {
                    ParamBusIdaIds.push("0");
                }
                else {
                    ParamBusIdaIds.push($(this).val());
                }
            });
            $(".ButacaBusIda").each(function () {
                if ($(this).text() == "") {
                    ParamAsientosIdaIds.push("0");
                }
                else {
                    ParamAsientosIdaIds.push($(this).text());
                }
            });
            $(".BusVueltaIds").each(function () {
                if ($(this).val() == "") {
                    ParamBusVueltaIds.push("0");
                }
                else {
                    ParamBusVueltaIds.push($(this).val());
                }
            });
            $(".ButacaBusVuelta").each(function () {
                if ($(this).text() == "") {
                    ParamAsientosVueltaIds.push("0");
                }
                else {
                    ParamAsientosVueltaIds.push($(this).text());
                }
            });

            ParamExtrasCantidad.push($('#SelectVouchers option:selected').val());
            ParamExtrasCantidad.push($('#SelectCunas option:selected').val());
            ParamExtrasCantidad.push($('#SelectCocheraFaroII option:selected').val());

            var _url = GetPathApp("/Reservas/Step4");
            $.ajax({
                method: "POST",
                url: _url,
                data: {
                    ParamFecha: $('#FechaEntrada').val(),
                    ParamHotelId: $('#DDL_Hotel option:selected').val(),
                    ParamNochesId: $('#NochesId option:selected').text(),
                    ParamTitularId: $('#PaxID_' + $('input[name=radioTitular]:checked').val()).val(),
                    ParamTipoHabitacionesIds: ParamTipoHabitacionesIds,
                    ParamHabitacionesIds: ParamHabitacionesIds,
                    ParamPasajerosIds: ParamPaxIds,
                    ParamPaquetesIds: ParamPaquetesIds,
                    ParamBaseIds: ParamBaseIds,
                    ParamBusIdaIds: ParamBusIdaIds,
                    ParamAsientosIdaIds: ParamAsientosIdaIds,
                    ParamBusVueltaIds: ParamBusVueltaIds,
                    ParamAsientosVueltaIds: ParamAsientosVueltaIds,
                    ParamExtrasIds: ParamExtrasIds,
                    ParamExtrasCantidad: ParamExtrasCantidad,
                    ParamObservaciones: $('textarea#TextareaObservaciones').val(),
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
                },
                success: function (result) {
                    $('#Panel_Step4').html(result);
                    closeSpinner();
                },
                error: function () {
                    alert("Error al procesar la solicitud de reserva. Por favor contactese con el administrador");
                }
            });

            //PASO DE AGRADECIMIENTO
            $('#Panel_Step3').fadeOut();
            $('#Panel_Step4').fadeIn();
            $("html, body").animate({ scrollTop: 0 }, 500);
            $('#wizard_step3').attr('class', 'done');
            $('#wizard_step4').attr('class', 'selected');
        }
    });


    $("#SelectCocheraFaroII").change(function () {
        var selectedItem = $(this).val();
        if (selectedItem > 0) {
            $('#TotalCocheraFaroII').attr('class', 'colorBlack');
            $('#TotalCocheraFaroII').text("$ " + $(this).val() * @ViewBag.PrecioCocheraFaroII);
        }
        else {
            $('#TotalCocheraFaroII').attr('class', 'colorGray');
            $('#TotalCocheraFaroII').text("$ 0");
        }
        calcularTotal();
    });
    $("#SelectVouchers").change(function () {
        var selectedItem = $(this).val();
        if (selectedItem > 0) {
            $('#TotalVouchers').attr('class', 'colorBlack');
            $('#TotalVouchers').text("$ " + $(this).val() * @ViewBag.PrecioVouchers);
        }
        else {
            $('#TotalVouchers').attr('class', 'colorGray');
            $('#TotalVouchers').text("$ 0");
        }
        calcularTotal();
    });
    $("#SelectCunas").change(function () {
        var selectedItem = $(this).val();
        if (selectedItem > 0) {
            $('#TotalCunas').attr('class', 'colorBlack');
            $('#TotalCunas').text("$ " + $(this).val() * @ViewBag.PrecioCuna);
        }
        else {
            $('#TotalCunas').attr('class', 'colorGray');
            $('#TotalCunas').text("$ 0");
        }
        calcularTotal();
    });

    function calcularTotal() {
        var SumTotal = 0;
        var TotalPaquetes = 0;
        var PrecioCochera = 0;
        var PrecioVouchers = 0
        var PrecioCunas = 0;
        var TotalExtras = 0
        var ArrayPaxPrecios = [];
        $(".PaxPrice").each(function () { ArrayPaxPrecios.push($(this).val()); });

        for (var i = 0; i < ArrayPaxPrecios.length; i++) {
            TotalPaquetes = TotalPaquetes + parseFloat(ArrayPaxPrecios[i].replace("$ ", ""));
        }

        PrecioCochera = parseFloat($('#TotalCocheraFaroII').text().replace("$ ", ""));
        PrecioVouchers = parseFloat($('#TotalVouchers').text().replace("$ ", ""));
        PrecioCunas = parseFloat($('#TotalCunas').text().replace("$ ", ""));

        TotalExtras = PrecioCochera + PrecioVouchers + PrecioCunas
        SumTotal = TotalPaquetes + TotalExtras;

        $("#TotalPaquetes").text("$ " + TotalPaquetes);
        $("#TotalExtras").text("$ " + TotalExtras);
        $("#TotalReserva").text("$ " + SumTotal);
        $("#TotalReservaContado").text("$ " + (SumTotal * 0.95));
        $("#TotalReservaCuotas").text("$ " + SumTotal / @ViewBag.cuotas);
        
        $(".currencyFormat").each(function(){
            $(this).text($(this).text().replace(".",",").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."));
        })
    }
    
    var BanValidaStep2 = false;
    function ValidarFormularioStep3() {
        var rslt = true;
        var selectedItem;
        $(".input-validation-error").removeClass("input-validation-error");
        $(".colorRed").removeClass("colorRed");        
        
        $("#SelectFormaDePago").each(function () {
            selectedItem = $(this).val();
            if (selectedItem == 0) {
                rslt = false;
                $(this).addClass("input-validation-error");
            }
        });                
        BanValidaStep2 = true;
        $("html, body").animate({ scrollTop: 0 }, 500);
        return rslt;
    }
</script>
