<div id="divStep2" class="row">

    <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Pasajeros/Create2', 'Agregar', 'Pasajeros')">
        <i class="fa fa-plus"></i> Agregar Persona al Sistema
    </button>
    <div class="row">
        @for (var i = 1; i <= ViewBag.CantPasajeros; i++)
        {
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pasajero @i </h2>
                        <div class="clearfix"></div>
                        <div class="radio">
                            <label><input type="radio" name="radioTitular" value="@i">Titular de la Reserva</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-4 col-sm-12 col-xs-12 form-horizontal">
                            <div class="form-group row">
                                <input id="PaxID_@i" type="hidden" class="PaxIds" data-boxId="@i" value="" />
                                <label class="control-label col-md-3" for="DNI">DNI:</label>
                                <div class="col-md-6">
                                    <input id="PaxDNI_@i" type="text" class="form-control PaxDNI" data-boxId="@i" />
                                </div>
                                <div class="col-md-3">
                                    <span id="btnSearchPax_@i" class="btn btn-dark btnSearchPax" data-boxId="@i">Buscar</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="Apellido">Apellido:</label>
                                <div class="col-md-9">
                                    <input id="PaxSurname_@i" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="Nombre">Nombre:</label>
                                <div class="col-md-9">
                                    <input id="PaxName_@i" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <input id="PaxApellidoyNombre_@i" class="PaxApellidoyNombre" type="hidden" value=""/>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="Paquete">Paquete:</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("SelectPaquetesDisponibles", null, "", htmlAttributes: new { @id = "SelectPaquete_" + @i, @class = "form-control SelectPaquetesDisponibles", data_boxId = @i })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="Paquete">Base:</label>
                                <div class="col-md-9">
                                    <select name="SelectBase_@i" id="SelectBase_@i" class="form-control SelectBase" data-boxId="@i" disabled="disabled">
                                        <option selected="selected" value="0"></option>
                                        <option  value="1">Base Simple</option>
                                        <option value="2">Base Doble</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3" for="Nombre">Precio:</label>
                                <div class="col-md-9">
                                    <input id="PaxPrice_@i" class="form-control PaxPrice" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 form-horizontal">
                            <div id="Panel_BusIda_@i" class="form-group row" style="display:none">
                                <label class="col-md-12" for="Paquete">Bus de ida y vuelta:</label>
                                <div class="col-md-12">
                                    <span id="btnSelectSeat" class="btn btn-dark" data-toggle="modal" data-target="#myModal" onclick="SeleccionarAsiento(@i,'Ida')">Seleccionar asiento</span>
                                </div>
                                <div class="col-md-12">
                                    <div><img src="/images/6.png">  Asiento Ida: <span id="ButacaBusIda_@i" data-boxId="@i" class="ButacaBusIda"></span></div>
                                </div>
                                <div class="col-md-12">
                                    <div><img src="/images/6.png">  Asiento Vuelta: <span id="ButacaBusVuelta_@i" data-boxId="@i" class="ButacaBusVuelta"></span></div>
                                </div>
                                <input type="hidden" id="BusIdaId_@i" class="BusIdaIds" value="" />
                                <input type="hidden" id="BusVueltaId_@i" class="BusVueltaIds" value="" />
                            </div>
                            @*<div id="Panel_BusVuelta_@i" class="form-group row" style="display:none">
                                <label class="col-md-12" for="Paquete">Bus de vuelta:</label>
                                <div class="col-md-12">
                                    <span id="btnSelectSeat" class="btn btn-dark" data-toggle="modal" data-target="#myModal" onclick="SeleccionarAsiento(@i,'Vuelta')">Seleccionar asiento</span>
                                </div>
                                <div class="col-md-12">
                                    <div><img src="/images/6.png">  Asiento seleccionado: <span id="ButacaBusVuelta_@i" data-boxId="@i" class="ButacaBusVuelta"></span></div>
                                </div>
                                <input type="hidden" id="BusVueltaId_@i" class="BusVueltaIds" value="" />
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        }
        <input type="hidden" id="BoxId" value="" />
        <input type="hidden" id="BoxTrayecto" value="" />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Si el titular no viaja</h2>
                    <div class="clearfix"></div>
                    <div class="radio">
                        <label><input type="radio" name="radioTitular" value="0">Clic aquí</label>
                    </div>
                </div>
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-horizontal">
                        <div class="form-group row">
                            <input id="PaxID_0" type="hidden" value="" />
                            <label class="control-label col-md-3" for="DNI">DNI:</label>
                            <div class="col-md-6">
                                <input id="PaxDNI_0" class="form-control" />                                
                            </div>
                            <div class="col-md-3">
                                <span id="btnSearchPax_0" class="btn btn-dark btnSearchPax" data-boxId="0">Buscar</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Apellido">Apellido:</label>
                            <div class="col-md-9">
                                <input id="PaxSurname_0" class="form-control" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Nombre">Nombre:</label>
                            <div class="col-md-9">
                                <input id="PaxName_0" class="form-control" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep1" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep3" class="buttonNext btn btn-primary">Siguiente</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.PaxDNI').keyup(function (e) {
        if (e.keyCode == 13) {            
            var boxId = $(this).attr("data-boxId");
            $("#btnSearchPax_" + boxId).click();
        }
    }); 

    function SeleccionarAsiento(ArgId,ArgTrayecto) {
        $("#BoxId").val(ArgId);
        $("#BoxTrayecto").val(ArgTrayecto);
        var tmp_TrayectoId;
        if (ArgTrayecto == 'Ida'){tmp_TrayectoId = 1}
        else{tmp_TrayectoId = 2}
        var data = {};
        data["ParamFecha"] = $('#FechaEntrada').val();
        data["ParamTrayectoId"] = tmp_TrayectoId;
        data["ParamNoches"] = $('#NochesId  option:selected').text();
        abrirModalPost('/Reservas/Bus', 'Agregar', 'Asientos', data);
    }
    $('#btnBackStep1').click(function () {
        $('#Panel_Step2').fadeOut();
        $('#divQuickSearch').fadeIn();
        $('#Panel_Step1').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step1').attr('class', 'selected');
        $('#wizard_step2').attr('class', 'disabled');
    });

    $('#btnGoStep3').click(function () {
        if(ValidarFormularioStep2()){
            $('#Panel_Step2').fadeOut();
            $('#Panel_Step3').fadeIn();
            $("html, body").animate({ scrollTop: 0 }, 500);
            $('#wizard_step2').attr('class', 'done');
            $('#wizard_step3').attr('class', 'selected');

            var _url = GetPathApp("/Reservas/Step3");

            $.ajax({
                method: "POST",
                url: _url,
                data: { 
                    ParamFecha: $('#FechaEntrada').val(), 
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    $('#Panel_Step3').html(result);
                }
            });
        }
    });


    $('.btnSearchPax').click(function () {
        var _url = GetPathApp("/Reservas/BuscarPax");
        var boxId = $(this).attr("data-boxId");
        $.ajax({
            method: "GET",
            url: _url,
            data: { paramDNI: $('#PaxDNI_' + boxId).val() },
            success: function (result) {
                if (result == "") {
                    alert("El pasajero no existe, por favor crearlo antes de continuar.");
                    $('#PaxID_' + boxId).val("");
                    $('#PaxSurname_' + boxId).val("");
                    $('#PaxName_' + boxId).val("");
                    $('#PaxApellidoyNombre_' + boxId).val("");
                } else {
                    $('#PaxID_' + boxId).val(result[0].ID);
                    $('#PaxSurname_' + boxId).val(result[0].Apellido);
                    $('#PaxName_' + boxId).val(result[0].Nombre);
                    $('#PaxApellidoyNombre_' + boxId).val(result[0].Apellido + ', ' + result[0].Nombre);
                }
                
                if (BanValidaStep2) {
                    ValidarFormularioStep2();
                } 
            }
        });
    });


    $(".SelectPaquetesDisponibles").change(function () {
        var selectedItem = $(this).val();
        var boxId = $(this).attr("data-boxId");
        if (selectedItem > 0){
            $.getJSON('/Reservas/Paquetes', { ParamPaqueteId: selectedItem }, function (data) {
                if(data[0].BusIda){
                    $("#Panel_BusIda_" + boxId).show();
                }
                else{
                    $("#Panel_BusIda_" + boxId).hide();
                }

                if(data[0].BusVuelta){
                    $("#Panel_BusVuelta_" + boxId).show();
                }
                else{
                    $("#Panel_BusVuelta_" + boxId).hide();
                }
                //BORRAR SELECCION DEL OTRO SELECT Y BORRAR PRECIO
                $("#SelectBase_" + boxId).prop('disabled', false);
                $("#SelectBase_" + boxId).val(0);
                $("#PaxPrice_" + boxId).val("");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error!');
            });
        }
        else{
            $("#SelectBase_" + boxId).prop('disabled', 'disabled');
        }
    });
    $(".SelectBase").change(function () {
        var selectedItem = $(this).val();
        var boxId = $(this).attr("data-boxId");
        if (selectedItem > 0){
            var selectedPaq = $("#SelectPaquete_" + boxId + " option:selected").val();
            $.getJSON('/Reservas/Paquetes', { ParamPaqueteId: selectedPaq }, function (data) {
                if(selectedItem == "1"){
                    $("#PaxPrice_" + boxId).val("$ " + data[0].PrecioSingle);
                }
                else{
                    $("#PaxPrice_" + boxId).val("$ " + data[0].PrecioDoble);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error!');
            });
        }
        else{
            $("#PaxPrice_" + boxId).val("");
        }
    });

    var BanValidaStep2 = false;
    function ValidarFormularioStep2() {
        var rslt = true;
        var selectedItem;
        $(".input-validation-error").removeClass("input-validation-error");
        $(".colorRed").removeClass("colorRed");        
        $(".PaxIds").each(function(){
            var boxId = $(this).attr("data-boxId");
            if(boxId > 0){
                selectedItem = $(this).val();
                if (selectedItem == "") {
                    rslt = false;
                    $("#PaxDNI_" + boxId).addClass("input-validation-error");
                }
            }
        });
        $(".SelectPaquetesDisponibles, .SelectBase").each(function () {
            selectedItem = $(this).val();
            if (selectedItem == 0) {
                rslt = false;
                $(this).addClass("input-validation-error");
            }
        });
        
        $(".ButacaBusIda").each(function(){
            var boxId = $(this).attr("data-boxId");
            if($("#Panel_BusIda_" + boxId).is(':visible'))
            {
                selectedItem = $(this).text();
                if (selectedItem == "") {
                    rslt = false;
                    $(this).parent().addClass("colorRed");
                }
            }
        });
        
        $(".ButacaBusVuelta").each(function(){
            var boxId = $(this).attr("data-boxId");
            if($("#Panel_BusVuelta_" + boxId).is(':visible'))
            {
                selectedItem = $(this).text();
                if (selectedItem == "") {
                    rslt = false;
                    $(this).parent().addClass("colorRed");
                }
            }
        });

        if($('input[name=radioTitular]:checked').val() == undefined){
            $( "input[name='radioTitular']").parent().addClass("colorRed");
            rslt = false;
        }        
        BanValidaStep2 = true;
        $("html, body").animate({ scrollTop: 0 }, 500);
        return rslt;
    }

    $("#divStep2 .form-control").focusout(function () {
        if (BanValidaStep2) {
            ValidarFormularioStep2();
        }            
    });
</script>
