@model FaroHotel.Models.Paquete

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-right: 5px;
        padding-left: 5px;
    }

    legend {
        border-bottom: 1px solid #3c8dbc;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.FechaAlta)

            <fieldset id="fsDatosPaquete">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Titulo">Titulo:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="FechaInicio">Fecha Inicio:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @Value = "", @class = "form-control date-picker-sunday" } })
                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="FechaFin">Fecha Fin:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @Value = "", @class = "form-control date-picker-sunday" } })
                                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-2 col-md-offset-1" for="Descripcion">Descripcion:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("DescripcionId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DescripcionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Temporada">Temporada:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("TemporadaId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TemporadaId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Noches">Cantidad de noches:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("NochesId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NochesId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="PrecioSingle">Precio Simple:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.PrecioSingle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PrecioSingle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="PrecioDoble">Precio Doble:</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.PrecioDoble, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PrecioDoble, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Cuotas">Cantidad de cuotas:</label>
                            <div class="col-md-8">
                                @Html.DropDownList("CuotasId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CuotasId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Ventanillas">Ventanillas:</label>
                            <div class="col-lg-offset-3 col-md-8">
                                @foreach (FaroHotel.Models.Ventanilla ItemVentanilla in ViewBag.Ventanillas)
                                {
                                    <div>
                                        @if (Model.Ventanilla.Select(e => e).Where(e => e.ID == ItemVentanilla.ID).Count() > 0)
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="VentanillaIds" value="@ItemVentanilla.ID" checked="checked" />
                                                    @ItemVentanilla.Nombre
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="VentanillaIds" value="@ItemVentanilla.ID" />
                                                    @ItemVentanilla.Nombre
                                                </label>
                                            </div>
                                        }
                                    </div>
                                }
                                @*@Html.ValidationMessageFor(model => model.TeacherIds)*@
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}

<script>
    InitModalSubmitAjax();
    $('.date-picker-sunday').datepicker({
        firstDay: 0,
        minDate: +1,
        maxDate: '+1Y +6M',
        beforeShowDay: function (date) {
            return [date.getDay() === 0, ''];
        }
    });
</script>


