@model FaroHotel.Models.Paquete

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioSingle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioSingle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioDoble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioDoble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuota.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuota.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDescripcionPaquete.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDescripcionPaquete.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoNoche.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoNoche.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTemporada.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTemporada.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
