@model FaroHotel.Models.Paquete

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioSingle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioSingle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioDoble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioDoble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuota.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuota.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDescripcionPaquete.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDescripcionPaquete.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoNoche.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoNoche.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTemporada.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTemporada.Descripcion)
        </dd>

        @foreach (FaroHotel.Models.Ventanilla ItemVentanilla in ViewBag.Ventanillas)
        {

            <dt>
            </dt>

            <dd>
                @if (Model.Ventanilla.Select(e => e).Where(e => e.ID == ItemVentanilla.ID).Count() > 0)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="VentanillaIds" value="@ItemVentanilla.ID" checked="checked" />
                            @ItemVentanilla.Nombre
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="VentanillaIds" value="@ItemVentanilla.ID" />
                            @ItemVentanilla.Nombre
                        </label>
                    </div>
                }
            </dd>
        }
    </dl>
</div>