@model IEnumerable<FaroHotel.Models.Paquete>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="box-title">Listado de Paquetes</h2>
            <div class="clearfix"></div>
        </div>
        <!-- /.box-header -->
        <div class="x_content">
            <!-- Button trigger modal -->
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Paquetes/Create', 'Agregar', 'Paquetes')">
                <i class="fa fa-plus"></i> Nuevo
            </button>
            <table id="dtPaquetes" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:100px">Acciones</th>
                        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
                        <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
                        <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
                        <th>@Html.DisplayNameFor(model => model.PrecioDoble)</th>
                        <th>@Html.DisplayNameFor(model => model.PrecioSingle)</th>
                        <th>@Html.DisplayNameFor(model => model.TipoCuota.ID)</th>
                        <th>@Html.DisplayNameFor(model => model.TipoNoche.ID)</th>
                        <th>@Html.DisplayNameFor(model => model.TipoTemporada.Descripcion)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <span title="Detalle" data-toggle="tooltip"><a class="btn btn-default btn-table fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Paquetes/Details/@item.ID','Detalle','Paquetes')"></a></span>
                                    <span title="Editar" data-toggle="tooltip"><a class="btn btn-info btn-table fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Paquetes/Edit/@item.ID','Editar','Paquetes')"></a></span>
                                    @*<span title="Eliminar" data-toggle="tooltip"><a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Paquetes/Delete/@item.ID','Eliminar','Paquetes')"></a></span>*@
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioDoble)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioSingle)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoCuota.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoNoche.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoTemporada.Descripcion)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script type="text/javascript">
    $(function () {
        $('#dtPaquetes').DataTable({
            "responsive": true,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp()
        });
    });
</script>