@model FaroHotel.Models.Bus

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTrayecto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTrayecto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoBus.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoBus.Descripcion)
        </dd>
    </dl>
</div>